# generic
.DS_Store
.vscode
.idea

# node / web
node_modules
.npm
dist
build
.npm
worker

# svelte
.routify

# terraform
.terraform
.terraform.lock.hcl

# sql
smarch.session.sql
.env

# .elixir
/.elixir_ls